[run]
source = app
omit =
    app/config.py
    app/utils/logger.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    except ImportError:
